.mainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    width: auto;
    border-bottom: 2px solid black;
}

.mainInfo {
    font-weight: 500;
    font-size: large;
    margin-left: 5px;
}

.menuSaveButton{
    width: 100px;
    margin-right: 3px;
}