.svgDiv {
    display: flex;
    justify-content: center;
    height: 96vh;
    width: 80%;
    border-bottom: 1px solid black;
    flex-wrap: nowrap;
    background-color: darkgray;
    overflow: auto;
}

.cellDiv {
    width: auto; 
    height: auto;
    display: table-cell;
    overflow: hidden;
}

table {
    height: 100%;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height:inherit;
    width:inherit;
}